<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<body>
    <header th:if="${isAdmin}" th:fragment="pageHeader">
        <div class="info">
            <h1>TMS - BẢNG ĐIỀU KHIỂN QUẢN TRỊ</h1>
            <p>Chào mừng trở lại, <span style="font-weight: bold;" th:text="${user.fullName}"></span>!</p>
            <a th:href="@{/logout}">Đăng xuất</a>
        </div>
        <div class="admin-header-links">
            <a th:href="@{/admin}" th:classappend="${currentPage == 'admin'} ? 'active'">Bảng điều khiển</a>
            <a th:href="@{/admin/train}" th:classappend="${currentPage == 'train'} ? 'active'">Quản lý tàu</a>
            
            <div class="dropdown" th:classappend="${currentPage == 'carriageTypes' or currentPage == 'carriages'} ? 'active'">
                <a class="dropdown-toggle" th:classappend="${currentPage == 'carriageTypes' or currentPage == 'carriages'} ? 'active'">
                    Quản lý toa
                </a>
                <div class="dropdown-menu">
                    <a th:href="@{/admin/carriages}"
                       th:classappend="${currentPage == 'carriages'} ? 'active'">
                       Quản lý toa
                    </a>
                    <a th:href="@{/admin/carriageTypes}"
                       th:classappend="${currentPage == 'carriageTypes'} ? 'active'">
                       Quản lý loại toa
                    </a>
                </div>
            </div>

            <div class="dropdown" th:classappend="${currentPage == 'seatTypes' or currentPage == 'seats'} ? 'active'">
                <a class="dropdown-toggle" th:classappend="${currentPage == 'seatTypes' or currentPage == 'seats'} ? 'active'">
                    Quản lý ghế tàu
                </a>
                <div class="dropdown-menu">
                    <a th:href="@{/admin/seats}"
                       th:classappend="${currentPage == 'seats'} ? 'active'">
                        Quản lý ghế
                    </a>
                    <a th:href="@{/admin/seatTypes}"
                       th:classappend="${currentPage == 'seatTypes'} ? 'active'">
                        Quản lý loại ghế
                    </a>
                </div>
            </div>
            
            <a th:href="@{/admin/stations}" th:classappend="${currentPage == 'stations'} ? 'active'">Quản lý ga</a>
        </div>
    </header>
</body>
</html>