<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TMS - Quản lý ga tàu</title>
</head>

<body>
<h2>Quản lý ga tàu</h2>
<div class="message-container">
    <div th:if="${successMessage}" class="alert alert-success">
        <span style="color: green;" th:text="${successMessage}"></span>
    </div>
</div>
<a th:href="@{/admin/stations/create}">Thêm ga tàu mới</a>
<br>
<br>
<div class="station-List">
    <h3>Danh sách các ga tàu đang hoạt động:</h3>
    <br>
    <table th:if="${not #lists.isEmpty(stationList)}">
        <thead>
        <tr>
            <th>Mã ga</th>
            <th>Tên ga</th>
            <th>Mã hiệu ga</th>
            <th>Điạ chỉ</th>
            <th>Thành phố</th>
            <th>Tỉnh</th>
            <th>Trang thái</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station : ${stationList}">
            <td th:text="${station.stationID}"></td>
            <td th:text="${station.name}"></td>
            <td th:text="${station.code}"></td>
            <td th:text="${station.address}"></td>
            <td th:text="${station.city}"></td>
            <td th:text="${station.province}"></td>
            <td th:text="${station.status}"></td>
            <td>
                <a th:href="@{'/admin/stations/edit/' + ${station.stationID}}">Sửa</a>
                <a th:href="@{'/admin/stations/delete/' + ${station.stationID}}"
                   onclick="return confirm('Bạn có chắc chắn muốn xóa ga này không?');">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#lists.isEmpty(stationList)}">
        <p>Không có ga tàu nào được quản lý.</p>
    </div>
</div>
</div>
</body>

</html>